/* body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #536dfe !important;
} */

.search {
  margin-bottom: auto;
  margin-top: 1 px;
  height: 50px;
  background-color: #f6f4f4;
  padding: 0px;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 550px;
  caret-color: #ddebec;
  font-size: 21px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search:hover > .search-icon {
  background: #babdd1;
  color: #fff;
}
.search-icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #dbe7db;
}
a:link {
  text-decoration: none;
}
